* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #914ec8, #8fd7fb);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.689);
}

h1 {
    margin-bottom: 20px;
    color: #333333;
}

.quote-box {
    margin: 25px 0;
}

#quote {
    font-size: 22px;
    color: #444444;
    min-height: 80px;
}

#author {
    margin-top: 15px;
    color: #666666;
}

button {
    background-color: #954ec8e8;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #369a7c;
}